*.glob
*.d
*.d.raw
*.vo
*.cm*
*.annot
*.spit
*.spot
*.o
*.a
*.log
*.aux
*.dvi
*.blg
*.bbl
*.idx
*.ilg
*.toc
*.atoc
*.comidx
*.comind
*.erridx
*.errind
*.haux
*.hcomind
*.herrind
*.hind
*.htacind
*.htoc
*.ind
*.lof
*.stamp
*.tacidx
*.tacind
*.v.tex
*.v.pdf
*.v.ps
*.v.html
revision
TAGS
bin/
config/Makefile
config/coq_config.ml
plugins/dp/dp_zenon.ml
dev/ocamldebug-coq
dev/ocamlweb-doc/lex.ml
dev/ocamlweb-doc/syntax.ml
dev/ocamlweb-doc/syntax.mli
ide/config_lexer.ml
ide/config_parser.ml
ide/config_parser.mli
ide/coq_lex.ml
ide/extract_index.ml
ide/find_phrase.ml
ide/highlight.ml
ide/undo.mli
ide/utf8_convert.ml
kernel/byterun/coq_jumptbl.h
kernel/byterun/dllcoqrun.so
kernel/copcodes.ml
scripts/tolink.ml
states/initial.coq
test-suite/lia.cache
test-suite/trace
theories/Numbers/Natural/BigN/NMake_gen.v
tools/coqdep_lexer.ml
tools/coqdoc/cpretty.ml
tools/coqwc.ml
tools/gallina_lexer.ml
toplevel/mltop.optml
plugins/micromega/csdpcert
toplevel/mltop.byteml
coqdoc.sty
ide/index_urls.txt
doc/faq/html/
doc/refman/csdp.cache
doc/refman/trace
doc/refman/Reference-Manual.pdf
doc/refman/Reference-Manual.ps
doc/refman/cover.html
doc/refman/styles.hva
doc/refman/Reference-Manual.html
doc/common/version.tex
doc/refman/Reference-Manual.sh
doc/refman/coqide-queries.eps
doc/refman/coqide.eps
doc/refman/euclid.ml
doc/refman/euclid.mli
doc/refman/heapsort.ml
doc/refman/heapsort.mli
doc/refman/html/
doc/stdlib/Library.out
doc/stdlib/Library.pdf
doc/stdlib/Library.ps
doc/stdlib/Library.coqdoc.tex
doc/stdlib/html/
doc/stdlib/index-body.html
doc/stdlib/index-list.html
doc/RecTutorial/RecTutorial.html
doc/RecTutorial/RecTutorial.pdf
doc/RecTutorial/RecTutorial.ps
dev/doc/naming-conventions.pdf
_build
plugins/*/*_mod.ml
myocamlbuild_config.ml
.DS_Store
.pc
lib/compat.ml
lib/pp.ml
lib/refutpat.ml
parsing/argextend.ml
parsing/g_constr.ml
parsing/g_decl_mode.ml
parsing/g_ltac.ml
parsing/g_prim.ml
parsing/g_proofs.ml
parsing/g_tactic.ml
parsing/g_vernac.ml
parsing/g_xml.ml
parsing/lexer.ml
parsing/pcoq.ml
parsing/q_constr.ml
parsing/q_coqast.ml
parsing/q_util.ml
parsing/tacextend.ml
parsing/vernacextend.ml
plugins/cc/g_congruence.ml
plugins/dp/g_dp.ml
plugins/extraction/g_extraction.ml
plugins/field/field.ml
plugins/firstorder/g_ground.ml
plugins/fourier/g_fourier.ml
plugins/funind/g_indfun.ml
plugins/micromega/g_micromega.ml
plugins/nsatz/nsatz.ml
plugins/omega/g_omega.ml
plugins/quote/g_quote.ml
plugins/ring/g_ring.ml
plugins/romega/g_romega.ml
plugins/rtauto/g_rtauto.ml
plugins/setoid_ring/newring.ml
plugins/subtac/g_subtac.ml
plugins/xml/acic2Xml.ml
plugins/xml/dumptree.ml
plugins/xml/proofTree2Xml.ml
plugins/xml/xml.ml
plugins/xml/xmlentries.ml
tactics/class_tactics.ml
tactics/eauto.ml
tactics/eqdecide.ml
tactics/extraargs.ml
tactics/extratactics.ml
tactics/hipattern.ml
tactics/rewrite.ml
tactics/tauto.ml
tools/coq_makefile.ml
tools/coq_tex.ml
toplevel/mltop.ml
toplevel/whelp.ml
